<% layout('layouts/boilerplate.ejs') %>
<h1 class="text-center">All Advocate List</h1>
<div class="row mt-4">
    <% for (let i = 0; i < advocates.length; i += 2) { %>
    <div class="col-md-6">
        <div class="mb-3 p-2" style="height: 525px">
            <div class="row">
                <% for (let j = i; j < i + 2 && j < advocates.length; j++) { %>
                <div class="col-6">
                    <img
                        style="
                        width: 100%;
                            height: 250px;

                            object-fit: contain;
                            object-position: center;
                        "
                        class="img-fluid mx-auto"
                        src="<%= advocates[j].image %>"
                        alt="Advocate Profile Image"
                    />

                    <div class="d-flex flex-column p-2">
                        <h5 class="card-title mt-2""><%= advocates[j].name %></h5>
                        <p class="card-text mt-1">
                            Location: <%= advocates[j].location %> <br />
                            Speciality: <%= advocates[j].speciality %> <br />
                            Rating(s): <%= advocates[j].rating %>
                        </p>
                        <a
                            class="btn btn-primary mt-auto"
                            href="/advocates/<%= advocates[j]._id %>"
                            >Check Profile</a
                        >
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>
</div>
