<% layout('layouts/boilerplate.ejs') %>
<h1 class="text-center">Viewing Profile</h1>
<div
    class="d-flex flex-column align-items-center justify-content-center gap-4 my-3"
>
    <div class="card" style="width: 18rem">
        <img src="<%= advocate.image %>" alt="Advocate Picture" />
        <div class="card-body">
            <h5 class="card-title text-center"><%= advocate.name %></h5>
            <p>
                <span class="text-muted">Speaciality: </span><%=
                advocate.speciality %>
            </p>
            <p>
                <span class="text-muted">Location: </span><%= advocate.location
                %>
            </p>
            <p>
                <span class="text-muted rating">Rating: </span>
            </p>
            <p>
                <span class="text-muted">Experience: </span><%=
                advocate.experience %>+ Years
            </p>
            <p><span class="text-muted">E-Mail: </span><%= advocate.email %></p>
            <% if( currentUser && advocate.author && advocate.author.equals(currentUser._id)) { %>
            <a
                class="btn btn-primary w-100"
                href="/advocates/<%= advocate._id %>/edit"
                >Edit Profile</a
            >
            <form
                action="/advocates/<%= advocate._id %>?_method=DELETE"
                method="POST"
            >
                <button class="btn btn-danger mt-3 mx-auto w-100">
                    Delete Profile
                </button>
            </form>
            <% } %>
            <p>
                <span class="text-muted">Submitted By </span><%=
                advocate.author.username %>
            </p>
        </div>
    </div>

    <% if (currentUser) { %>
    <h2>Leave a Review</h2>
    <form
        action="/advocates/<%= advocate._id %>/reviews"
        method="POST"
        class="mb-3 needs-validation"
        novalidate
    >
        <div class="mb-3">
            <div class="mb-3"></div>
            <div>
                <label class="form-label" for="rating">Rating</label>
                <input
                    class="form-range"
                    type="range"
                    min="1"
                    max="5"
                    id="rating"
                    name="review[rating]"
                />
            </div>
            <div>
                <label class="form-label" for="body">Review</label>
                <textarea
                    class="form-control"
                    name="review[body]"
                    id="body"
                    cols="30"
                    rows="3"
                    required
                ></textarea>
                <div class="invalid-feedback">Please fill this field</div>
                <div class="valid-feedback">Looks Good!</div>
            </div>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
    <% } %>

    <h1>Reviews</h1>
    <% for(let review of advocate.reviews) { %>
    <div class="card mb-3" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Client</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Rating: <%= review.rating %></li>
                <li class="list-group-item">Review: <%= review.body %></li>
                <li class="list-group-item">By: <%= review.author.username %></li>
            <% if( currentUser && review.author && review.author.equals(currentUser._id)) { %>
                <li class="list-group-item">
                    <form
                        action="/advocates/<%= advocate._id %>/reviews/<%= review._id %>?_method=DELETE"
                        method="post"
                    >
                        <button class="btn btn-sm btn-danger">Remove</button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <% } %>

    <div class="container d-flex justify-content-center">
        <a class="btn btn-dark" href="/advocates/all">Back</a>
    </div>
</div>
